@font-face {
    font-family: "font1";
    src: url(fonts/1.eot);
    src: url(fonts/1.eot) format("embedded-opentype"),
        url(fonts/6.woff2) format("woff2"),
        url(fonts/5.woff) format("woff"),
        url(fonts/4.ttf) format("truetype"),
        url(fonts/3.svg) format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "font1";
    transition: all .3s;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #eee;
    --green-color: #01B636;
    --UFO-Green: #3BD16F;
    --Medium-Aquamarine: #74E39A;
    --white: #fff;
    --section-color: #E3E3E3;
    --dark-gray: #747272;
}

::selection {
    background-color: var(--green-color);
    color: var(--white);
}

body {
    width: 100%;
    height: 100vh;
    direction: rtl;
}

/* header */

.header-up {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e3e3e3;
}

/* logo */
.logo h1 {
    color: var(--green-color);
}

.logo span {
    color: var(--green-color);
}

/* search */
.search .input-box {
    width: 400px;
    background-color: var(--main-color);
    padding: 3px 10px;
    border: 1px solid #8b8b8b;
}

.search .input-box input {
    width: 90%;
    background: none;
    border: none;
    outline: none;
    margin-right: 10px;
    font-size: 18px;
    caret-color: var(--green-color);
}

.search .input-box input::placeholder {
    opacity: .5;
}

.search .input-box span {
    color: var(--green-color);
    cursor: pointer;
}

/* icon-header */
.icon-header {
    display: flex;
}

.icon-header span {
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    color: var(--green-color);
    background-color: var(--white);
    border: 1px solid #c7c7c7;
    padding: 10px;
}

.icon-header .search-two {
    display: none;
}

.icon-header span:hover {
    background-color: var(--green-color);
    color: var(--white);
}

.search-box-menu {
    z-index: 1000;
    width: 300px;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 0 auto;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.show-search {
    top: 0;
}

.search-box-menu p {
    margin: 5px;
}

.box-search {
    display: flex;
}

.search-box-menu input {
    border-radius: 0 10px 10px 0;
    outline: none;
    border: 1px solid var(--green-color);
    padding: 0 10px;
    caret-color: var(--green-color);
}

.box-search a {
    display: block;
    width: 70px;
    height: 100%;
    text-align: center;
    border-radius: 10px 0 0 10px;
    color: var(--white);
    background-color: var(--green-color);
}

.close-search {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* header-down */

.header-down {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--green-color);
}

.scroll {
    position: fixed;
    top: 0;
    z-index: 20000;
}

.header-down .nav {
    display: flex;
    gap: 30px;
}

.header-down .nav a {
    display: block;
    height: 100%;
    color: var(--white);
}

.header-down .nav a:hover {
    color: var(--dark-gray);
}

/* login */

.login {
    width: 100%;
    height: 100%;
    background-color: rgba(28, 158, 16, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100000000;

}

.active {
    left: 0;
}

.close-login span {
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 20px;
    color: var(--main-color);
    cursor: pointer;
}

.close-login span:hover {
    transform: rotate(90deg);
}

.login h2 {
    margin: 20px;
    color: var(--white);
}

.login-form {
    width: 400px;
    height: 400px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.login-form .input-box {
    width: 100%;
    margin-top: 10px;
}

.login-form .main-input {
    display: flex;
    flex-direction: column;
}

.login-form .main-input input {
    margin-top: 3px;
    height: 35px;
    border: 1px solid var(--dark-gray);
    outline: none;
    padding-right: 10px;
    font-size: 17px;
    caret-color: var(--green-color);
}

.checkbox input {
    margin-right: 3px;
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
    user-select: none;
}

.checkbox label:hover {
    color: var(--green-color);
}

.submit input {
    width: 100%;
    height: 40px;
    background-color: var(--green-color);
    color: var(--white);
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

.forget-password a {
    color: var(--green-color);
}

.create {
    margin-top: 30px;
}

.create a {
    color: var(--green-color);
}

/* menu-down for responsive */
.menu-down {
    width: 100%;
    background-color: var(--green-color);
    position: fixed;
    bottom: -100%;
    right: 0;
    left: 0;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.menu-down a {
    color: var(--white);
    font-size: 19px;
}

/* section-1 */
.section-1 {
    width: 100%;
    background: url(images/banner-bg.jpg);
    display: flex;
    padding: 30px;
}

.section-1-title,
.section-1-cover {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1-cover {
    align-items: center;
}

.section-1-box-image{
    position: relative;
    padding: 5px;

}
.section-1-box-image span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    color: var(--dark-gray);
    margin: 0 5px;
}
.section-1-box-image span:hover{
    margin: 0 10px;
    opacity: .7;
}
.fa-angle-right,.fa-angle-left{
    width: 30px;
    height: 90%;
    position: absolute;
    z-index: 10;
}
.fa-angle-left{
    left: 0;
    top: 0;
    bottom: 0;
}
.fa-angle-right{
    right: 0;
    top: 0;
    bottom: 0;
}
.section-1-box-image img {
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.section-1-title p {
    margin: 20px 0;
}

.section-1-title h1 {
    font-size: 40px;
}

.section-1-title h1 span {
    color: var(--green-color);
}

.btn-shope {
    width: 140px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--green-color);
    font-size: 19px;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn-shope:hover {
    opacity: .8;
}

/* section-2 */
.section-2 {
    width: 100%;
    background: url(images/banner-bg.jpg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
}

.section-box {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
}

.section-2-mini-box-icon {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.section-2-mini-box-icon span {
    font-size: 28px;
    color: var(--green-color);
}

.section-2-mini-box {
    width: 160px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.section-2-mini-box p {
    font-size: 14px;
    color: var(--dark-gray);
}

/* loader gif */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* section-fetured and new-book section style*/
.section-fetured,
.section-comments,
.section-blog {
    width: 100%;
    background: url(images/banner-bg.jpg);
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fetured-title,
.comment-title,
.blog-title {
    margin: 30px 0 50px;
}

.fetured-title h2,
.comment-title h2,
.blog-title h2 {
    position: relative;
}

.fetured-title h2::before,
.comment-title h2::before,
.blog-title h2::before {
    content: '';
    width: 600px;
    height: 3px;
    background-color: #01B636;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
}

.slide-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 40px;

}

.mini-slide-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: var(--white);
    background: linear-gradient(30deg, rgba(224, 224, 224, 1) 49%, rgba(255, 255, 255, 1) 49%);
    padding: 20px 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
    cursor: pointer;
}

.slide-box-image img {
    width: 200px;
}

.slider-btn {
    width: 160px;
    height: 35px;
    font-size: 17px;
    line-height: 35px;
}

.slider-btn span {
    font-size: 14px;
}

.slide-box-bio p {
    margin: 10px 0;
}

.hover-box {
    width: 100%;
    background-color: var(--UFO-Green);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    gap: 20px;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
}

.hover-box span {
    display: block;
    background-color: var(--white);
    padding: 7px;
    border-radius: 50%;
    color: var(--green-color);
    cursor: pointer;
}

.hover-box span:hover {
    background-color: #000;
    color: var(--white);
}

.mini-slide-box:hover {
    transform: translateY(-5px);
}

.mini-slide-box:hover .slide-box-image img {
    transform: translateY(40px);
    z-index: 10;
}

.mini-slide-box:hover .hover-box {
    top: 0;
}


/* news get email*/
.news {
    width: 100%;
    height: 600px;
    background: url(images/letter-bg.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 60px;
}

.news-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news-form h4 {
    font-size: 25px;
    color: var(--white);
}

.news-form input {
    width: 400px;
    height: 40px;
    padding-right: 10px;
    caret-color: var(--green-color);
    border: none;
    outline: none;
}

.news-form input:focus {
    box-shadow: rgba(46, 240, 127, 0.4) 0px 3px, rgba(46, 240, 127, 0.3) 0px 5px, rgba(46, 240, 143, 0.2) 0px 5px, rgba(46, 240, 111, 0.1) 0px 10px, rgba(46, 240, 72, 0.05) 0px 15px;
}

/* new-book-section */

.mini-New-box {
    padding: 20px 40px;
}

.new-btn {
    width: 160px;
}

.newBook-image img {
    width: 160px;
}

.offer-cover img {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

.offer-cover img:hover {
    transform: translateY(-5px);
}

/* section comment  */

.section-comment-container,
.section-blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.section-comment-box,
.section-blog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    background: linear-gradient(30deg, rgb(224, 224, 224) 49%, rgba(255, 255, 255, 1) 49%);
    padding: 20px 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

.section-comment-box:hover {
    transform: translateY(-5px);
}

.comment-img img {
    width: 100px;
    border-radius: 50%;
}

.comment-text p,
.blog-text p {
    color: var(--dark-gray);
    font-size: 14px;
    margin: 5px 0 8px;
}

.star-icon-comment span {
    font-size: 14px;
    color: #ffbf00;
}

.section-blog {
    padding: 30px 30px 60px;
}

.blog-img img {
    width: 90%;
}

.section-blog-box:hover {
    transform: translateY(-5px);
}

.section-blog-box:hover .blog-img img {
    transform: scale(1.03);
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(images/banner-bg.jpg);
}

.social-footer {
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-title {
    margin: 15px 0;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media span {
    font-size: 20px;
    background-color: var(--green-color);
    color: var(--white);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.social-media span:hover {
    background-color: var(--section-color);
    color: var(--green-color);
}

.container-column-footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 30px;
}

.column-footer {
    display: flex;
    flex-direction: column;
}

.column-footer h4 {
    margin-bottom: 10px;
    color: var(--green-color);
}

.column-footer a {
    margin: 5px 0;
    font-size: 15px;
    color: var(--dark-gray);
}

.column-footer a:hover {
    color: var(--green-color);
    padding-right: 8px;
}

.phone {
    color: var(--green-color);
}

.last-footer {
    text-align: center;
    padding: 20px;
}

.namads {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.namads img {
    width: 100px;
}